// the block of code below removes browser styling
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// The block above this comment removes browser styling DO NOT REMOVE

#purplebar1 {
  background-color: #6f2886;
}

#yahoologo{
	width: 6em;
}


div#topmenu {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

input.form-control {
	border-radius: 0 !important;
}

input#my-size {
	width: 200px;
}

form.box1 {
	flex-grow: 4;
}

a.box2 {
	flex-grow: 1;
	margin-left: 200px;
}

form.navbar-form {
	margin-right: auto;
}

#circletopmenu {
	border-color: white;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

div#slider-section{
	display: flex;
	align-items: center;
	justify-content: center;
}

#backgroundimage {
	color: #5C5C5C;
	height: 507px;
	// background: url("/assets/now-you-see-me-jesse-eisenberg-image.jpg");
	background-repeat: no-repeat;
	width: 100%;
	padding: 0px;
	background-position: 10% 38%;
	background-size: cover;
}

span.vertical-menu {
	margin-left: 80px;
	display: flex;
}

#verticalmenulist {
	background-color: lightgray;
 	flex-direction: column;
	text-align: center;

}

#verticalmenulist ul {
	align-items: center;
}

#verticalmenulist ul li i {
	font-size: 20px;
	margin-top: 7px;
	padding: 7px;
}

#first {
	padding-top: 13px;
}

#last {
	padding-bottom: 18px;
}

.col-md-5 {
	margin-left: auto;
}

h1, #title {
	font-size: 24px !important;
	color: #5C5C5C;;
}



p, #featuredstoryparagraph {
	font-size: 14px !important;
}

#linktofullarticle {
	font-size: 14px;
	margin-left: 0px;
}

#purplebar2 {
	background-color: #6f2886;
}

button.btn-default {
  color: #752b8c !important;
  background-color: #893da1 !important;
  border-color: #6f2886;
	}

.container#secondmenudiv {
	color: #fff;
	display: flex;
  justify-content: center;
	align-items: center;
}

#secondnavbar {
	justify-content: flex-start;
	display: flex;
	flex-grow: 1;
	align-items: center;
	margin-left: 105px;
	margin-bottom: 0px !important;
}

#secondmenubox1 {
	display: flex;
	flex-grow: 1;
}

#secondmenubox2 {
	display: flex;
	flex-grow: 2;
}

#secondmenuitem li {
	font-size: 12px !important;
	flex-grow: 1;
	float: left;
	padding-right: 30px;
}

#secondmenubox3 {
	justify-content: flex-start;
	display: flex;
	flex-grow: 1;
}

#enterzipcode {
	width: auto;
	color: #fff;
	display: flex;
	align-items: center;
}

#location_and_weather {
	display: flex;
	align-items: center;
}

#temperature {
	font-size: 25px;
	margin-left: 15px;
}

button#dropdownstock {
margin-top: 0px !important;
}

#midsection {
	width: 100%;
	display: flex;
	float: left;
	height: 200px;
}

#centerbox1 {
	text-align: center;
	flex-grow: 5;
	margin: auto 0;
}

#centerbox2 {
	flex-grow: 1;
	margin-top: 30px;
	margin-right: 320px;
}

#centerbox2 ul {
	font-size: 12px !important;

}

#centerbox2 ul li {
	margin-bottom: 1em;
}

#centerbox3 {
  flex-grow: 4;
	list-style: none;
	text-align: left;
	margin: auto 0;
}

#spacebetweenarrows {
	height: 80px;
}

.container.slider-section-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
}

#rails_slider {
	height: 540px;
}

// #bottombackgroundlength {
// 	background-color: #ffffcf;
// 	height: 354px;
// }

#bottombox1 {
	display: flex;
	flex-grow: 1;
}

#bottombox2 {
	display: flex;
	flex-grow: 1;
}

#featuredstorybottom {
	color: #6f2886;
	margin-left: auto;
	margin-top: 40px;
}

#featuredstorybottom h1 {
	margin-top: 40px;
}

#linktofullarticlebottom {
  margin-left: 0px;
	font-style: italic;
}

#featuredstoryparagraphbottom {
	font-size: 14px !important;
  margin: auto 0;
	margin-top: 20px;
}

#learnmorebutton {
	color: #fff !important;
    background-color: #9b4fb1 !important;
    border-color: #9b4fb1 !important;
}

 #learnmorebutton a {
	 color: #fff !important;
 }

button.btn.btn-default{
	margin-top: 15px;
	border-radius: 0 !important;
}
