<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>

    <header>

      <span>
        <div class="background-image">
          Yahoo!
        </div>
        <div class="search-box">
          white search box
        </div>
        <div class="magnifying-glass">
          icon
        </div>
        <div class="profile-pic">
          round image
        </div>
      </span> <!-- closes top horizontal menu section of header -->

      <div class="slider-image">
        slider
      </div>

      <ul class="vertical-menu">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
      </ul>

      <div class="text-box-on-slider">
        <h1>Now You See Me: Top Grosser</h1>
        <p>
          Hit film starring Jesse Eisenberg rakes in nearly $300MM during opening weekend.
        </p>
        <span>
          Read Full Story
        </span>
      </div>

      <span class="horizontal-menu">
        <ul>
          <li>All Stories</li>
          <li>News</li>
          <li>Local</li>
          <li>Entertainment</li>
          <li>Sports</li>
          <li>More</li>
        </ul>
      </span>

      <span>
        Baltimore, MD 83&deg;
      </span>
      <span>
        arrow
      </span>

    </header> <!-- closes header (top section) of page down to horizontal menu -->

    <div class="mid-section"> <!-- starts mid-section -->

      <div class="social-icons">
        <span>Twitter</span>
        <span>flickr</span>
      </div>

    <ul>
      <li>Ocklahoma turns to mammoth task of clean-up after tornado -
        <span>Los Angeles Times - 1 hour ago</span>
      </li>
      <li>Obama, in a Shift, to Limit Targets of Drone Strikes -
        <span>New York Times - 1 hour ago</span>
      </li>
      <li>Major Nelsson teases E3 for Xbox One news -
      <span>PC World - 4 hours ago</span>
      <li>US Treasuries, Asian Bonds Fall on Bets Fed to Taper Stimulus -
        <span>Bloomberg - 5 hours ago</span>
      </li>
      <li>Merkel tops Forbes power women's list again -
        <span>Newsday - 5 hours ago</span>
      </li>
    </li>
    <span>up</span>
    <span>dwn</span>
    </ul>

    </div><!--closes mid-section featured stories including up and down arrows -->

    <div class="bottom-section"> <!--starts bottom section -->

      <div class="featured-story">
        <h1>Yahoo! Acquires Tumblr.</h1>
        <p>
          Yahoo Inc. has agreed to pay $1.1 billion for Tumblr, a six-year-old company with more than 100 million users but very little revenue, a deal that highlights the shifting balance of power in the technology business.
        </p>
        <span class="learn-more-button">Learn More</span>
      </div>

    </div> <!-- closes bottom section -->

  </body>
</html>
